{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="d-flex">
          <div class="flex-shrink-0">
              <img class="rounded-circle account-img" src="{{ image_file }}" alt="profile-picture">
          </div>

        <div class="flex-grow-1 ms-3">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
          <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}     {# Hidden tag is used for evading CSRF (sucurity problem) #}
            <fieldset class="form-group">
                <legend class="border-bootom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback mb-2">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg mb-3") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback mb-2">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg mb-3") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class='form-control mb-3') }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info mb-2 ") }}
            </div>
          </form>
    </div>

{% endblock content %}
